@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --pink: #FA295F;
  --gray1: #111111;
  --gray2: #818181;
  --gray3: #414141;
  --white: #FFFFFF;

  --text1: #FFFFFF;
  --text2: #a3a3a3;
  --text3: #585858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--gray1);
  color: var(--text1);
}