@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter";
}

.SearchBar-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    padding: 30px 0 30px 0;
}

.SearchBar-Barra{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SearchBar-Barra-input{
    width: calc(100% - 34px);
    height: 34px;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: var(--gray3);  
    outline: none;
    caret-color: var(--white);
    color: var(--white);
}

.SearchBar-Barra-input::placeholder{
    color: var(--white);
}

.SearchBar-Barra-img{
    background-color: var(--gray3); 
    padding: 10px;
}

.SearchBar-Barra-img:hover{
    cursor: pointer;
}

.SearchBar-Barra-img:active{
    background-color: var(--gray2);
}

.SearchBar-Filtro{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--gray3);
    padding: 0 10px 0 10px;
    gap: 10px;
}

.SearchBar-Filtro img{

}

.SearchBar-Filtro p{
    color: var(--white);
    border: none;
}